<div class="card">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <mat-form-field class="example-half-width"
        >Filter by:<input matInput type="text"
      /></mat-form-field>
      <form [formGroup]="formGroupa">
        <mat-slide-toggle formControlName="complited"
          >Complited</mat-slide-toggle
        >
      </form>
      <table class="table" style="vertical-align: top;">
        <thead>
          <tr>
            <th>img</th>
            <th>
              Anime
            </th>
            <th>Episode</th>
            <th>Season</th>
            <th>Date</th>
            <th>
              <app-pop-up-add-new-series
                [stringa]="
                  !formGroupa.controls['complited'].value
                    ? 'anime'
                    : 'anime-complited'
                "
              >
              </app-pop-up-add-new-series>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let anime of !formGroupa.controls['complited'].value
                ? (animeCollection | async)
                : (animeCollectionComplited | async) as list
            "
          >
            <td>
              <img
                [src]="anime.payload.doc.data().pictureurl"
                *ngIf="anime.payload.doc.data().pictureurl; else uploadbutton"
              />
              <ng-template #uploadbutton>
                <app-pop-up-add-image
                  [anime]="anime"
                  [collection]="
                    !formGroupa.controls['complited'].value
                      ? 'anime'
                      : 'anime-complited'
                  "
                ></app-pop-up-add-image>
              </ng-template>
            </td>
            <td>
              {{ anime.payload.doc.data().AnimeName }}
              <div style="float: right;">
                <button
                  mat-button
                  *ngIf="anime.payload.doc.data().Episode"
                  class="btn"
                  ngxClipboard
                  [cbContent]="
                    anime.payload.doc.data().AnimeName +
                    ' ' +
                    anime.payload.doc.data().Episode
                  "
                >
                  <i class="material-icons">file_copy</i>
                </button>
              </div>
            </td>
            <td>
              <div style="float: left;">
                <button
                  mat-button
                  class="btn"
                  (click)="
                    !formGroupa.controls['complited'].value
                      ? episodeChange(anime, -1, 'anime')
                      : episodeChange(anime, -1, 'anime-complited')
                  "
                  *ngIf="anime.payload.doc.data().Episode"
                >
                  <i class="material-icons">arrow_left</i>
                </button>
                {{ anime.payload.doc.data().Episode }}
                <button
                  mat-button
                  class="btn"
                  (click)="
                    !formGroupa.controls['complited'].value
                      ? episodeChange(anime, 1, 'anime')
                      : episodeChange(anime, 1, 'anime-complited')
                  "
                  *ngIf="anime.payload.doc.data().Episode"
                >
                  <i class="material-icons">arrow_right</i>
                </button>
              </div>
            </td>
            <td>
              <div style="float: left;">
                <button
                  mat-button
                  class="btn"
                  (click)="
                    !formGroupa.controls['complited'].value
                      ? seasonChange(anime, -1, 'anime')
                      : seasonChange(anime, -1, 'anime-complited')
                  "
                  *ngIf="anime.payload.doc.data().Season"
                >
                  <i class="material-icons">arrow_left</i>
                </button>
                {{ anime.payload.doc.data().Season }}
                <button
                  mat-button
                  class="btn"
                  (click)="
                    !formGroupa.controls['complited'].value
                      ? seasonChange(anime, 1, 'anime')
                      : seasonChange(anime, 1, 'anime-complited')
                  "
                  *ngIf="anime.payload.doc.data().Season"
                >
                  <i class="material-icons">arrow_right</i>
                </button>
              </div>
            </td>
            <td>{{ anime.payload.doc.data().Date }}</td>
            <td>
              <button
                mat-button
                class="btn"
                (click)="
                  !formGroupa.controls['complited'].value
                    ? deleteAnime(anime, 'anime')
                    : deleteAnime(anime, 'anime-complited')
                "
              >
                <i class="material-icons">delete_forever</i>
              </button>
              <button
                mat-button
                class="btn"
                (click)="
                  !formGroupa.controls['complited'].value
                    ? moveToOther(anime, 'anime-complited')
                    : moveToOther(anime, 'anime')
                "
              >
                <i class="material-icons">forward</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
