<div class="card">
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>img</th>
            <th>Anime <input type="text" /></th>
            <th>Episode</th>
            <th>Season</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let anime of animeCollection | async as list">
            <td>
              <img
                [src]="anime.payload.doc.data().pictureurl"
                *ngIf="anime.payload.doc.data().pictureurl; else uploadbutton"
              />
              <ng-template #uploadbutton> <app-pop-up-add-image [anime]="anime"></app-pop-up-add-image> </ng-template>
            </td>
            <td>{{ anime.payload.doc.data().AnimeName }}</td>
            <td>{{ anime.payload.doc.data().Episode }}</td>
            <td>{{ anime.payload.doc.data().Season }}</td>
            <td>{{ anime.payload.doc.data().Date }}</td>
            <td>
              <button class="btn" (click)="deleteAnime(anime)">
                <i class="material-icons">delete_forever</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
