<h1 mat-dialog-title>sign in</h1>
<div mat-dialog-content>
  <form [formGroup]="formpNewUserDetails">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        formControlName="newUserEmail"
        type="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="newUserPassword"
        type="password"
      />
    </mat-form-field>

    <button mat-button (click)="signUp()">
      Submit
    </button>
  </form>
</div>
