<div class="content" role="main">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngIf="true; else loggedout" (click)="signOut()">
      Log out
    </button>
  </mat-menu>
  <ng-template #loggedout>
    <button mat-menu-item (click)="openDialog()">
      Sign in
    </button>
    <!-- <button mat-menu-item (click)="signUp('test1@test.com', 'password')">
      Sign up
    </button> -->
  </ng-template>
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
</div>
<app-anime-list *ngIf="true; else fuckoff"></app-anime-list>
<ng-template #fuckoff><h1>fuck off</h1></ng-template>
<router-outlet></router-outlet>
