<h1 mat-dialog-title>add series</h1>
<div mat-dialog-content>
  <form [formGroup]="formawd">
    <div>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="AnimeName"
          formControlName="AnimeName"
          type="text"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Episode"
          formControlName="Episode"
          type="number"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Season"
          formControlName="Season"
          type="number"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Date" formControlName="Date" type="date" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="pictureurl"
          formControlName="PictureUrl"
          type="text"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox [(ngModel)]="checked" formControlName="Complited">
        Complited
      </mat-checkbox>
    </div>
    <button mat-button (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>
