<table
  mat-table
  [dataSource]="animeProvider.animeList"
  class="mat-elevation-z8"
  [trackBy]="trackById"
>
  <tr>
    <ng-container matColumnDef="pictureurl">
      <th mat-header-cell *matHeaderCellDef>img</th>
      <td mat-cell *matCellDef="let element">
        <img
          mat-card-image
          [src]="element.PictureUrl"
          *ngIf="element.PictureUrl"
        />
      </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.AnimeName }}</td>
    </ng-container>
    <ng-container matColumnDef="Episode">
      <th mat-header-cell *matHeaderCellDef>Episode</th>
      <td mat-cell *matCellDef="let element">
        <app-increase-decrease
          [anime]="element"
          [key]="'Episode'"
        ></app-increase-decrease>
      </td>
    </ng-container>
    <ng-container matColumnDef="Season">
      <th mat-header-cell *matHeaderCellDef>Season</th>
      <td mat-cell *matCellDef="let element">
        <app-increase-decrease
          [anime]="element"
          [key]="'Season'"
        ></app-increase-decrease>
      </td>
    </ng-container>
    <ng-container matColumnDef="Functions">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Lists</mat-label>
          <mat-select
            (selectionChange)="animeProvider.changeBetweenList($event.value)"
          >
            <mat-option
              *ngFor="let listname of animeProvider.listOfListNames; let i = index"
              [(value)]="animeProvider.listOfListNames[i]"
            >
              {{ listname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-add-new-list></app-add-new-list>
        <app-add-new-anime></app-add-new-anime>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="buttonContainer">
          <div>
            <app-move-to-list
              [listNames]="animeProvider.listOfListNames"
              [anime]="element"
            ></app-move-to-list>
          </div>
          <div>
            <app-edit-anime [anime]="element"></app-edit-anime>
          </div>
          <div>
            <app-remove-from-list [anime]="element"></app-remove-from-list>
          </div>
        </div>
      </td>
    </ng-container>
  </tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
